 @import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

 .root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
 }
 body {
    font-family: Sora, "snas-serif";
    line-height:1.7;
    color:var(--dark);
 }
 h1,h2,h3,h4,h5,h6,
 .display-4{
    color:var(--dark);
 }
a{
    color:var(--dark);
    text-decoration: none;
}
.hero{
    background-image: url(codebackground.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}
.hello{
   position:fixed;
   height:auto;
   left:0px;
   width:250px;
   
}